<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_3FS_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--192.168.1.7,1433-->
  <!--10.10.28.142-->
  <connectionStrings>
    <add name="3FSDatabase" connectionString="Server=10.10.28.142,1433;Database=3FS Database;User ID=admin;Password=ab&amp;j"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <_3FS_System.Properties.Settings>
      <setting name="FormBackground" serializeAs="String">
        <value />
      </setting>
    </_3FS_System.Properties.Settings>
  </userSettings>
</configuration>